*{
	margin: 2px;
	padding: 2px;
	box-sizing: border-box;
	
}

body {
	font-family: "Roboto", sans-serif;
	background: #f7f6ff;
}

h2 {
	margin: 10px;
}


ul{
	float: right;
	list-style-type: none;
	margin-top: 2px;
}

ol{
	float: left;
	margin-left: 150px;
	list-style-type: none;
	
}

ul li{
	display: inline-block;
}

ul li{
	text-decoration: none;
	color: #666;
	padding: 12px 4px;
	border: 2px solid #999;
	transition: 0.6s ease;
}

ol li{
	color: #000;
	padding: 5px 80px;
	
	transition: 0.4s ease;
}

ul li a:hover{
	background-color: #6969;
	color #6969
}

.container {
	margin-top: 150px;
}

.sname{
	height: 50px;
	width: 270px;
}

.box{
	height: 90px;
	width: 400px;
}

.cnum{
	height: 30px;
	width: 200px;
}

.submit{
	margin-left: 150px;
}